<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
	<div id= "title">
		<center><h2><b>Darkness of Word</b></h2></center>
	</div>
	
	<div id= "sidebar">
		<a href= "/">Home</a>
		<a href= "/">Inventory</a>
		<a href= "/">Save Game</a>
		<a href= "/">Settings</a>
	</div>

	<div id= "output">
		<textarea style="border:none;width:100%; height:100%;" rows="25" cols="105" spellcheck="false">{{stuff}}STUFF</textarea></br>
		{{inputTXT}}
	</div>

	<form action="/" methods="POST">
		<div id="console">
			<input type = "submit" value="submit" class="yes">
			<center><input type="text" placeholder="Enter a command." size="55" class="no"></center>
		</div>
	</form>

</body>
</html>
