<!DOCTYPE html>
<html>
	<head>
    	    <link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>

	<body>
    	<div id= "title">
    	    <center><h2><b>Darkness of Word</b></h2></center>
    	</div>
    
    	<div id= "sidebar">
        	<a href= "/">Home</a>
        	<a href= "/">{{TXT}}</a>
    	</div>
    
    	<div id = "output">
    		<h3>{{story|safe}}</h3>
    		<h4>{{out|safe}}</h4>
    	</div>
    
   		<form action="/city/" method="POST">
    	    <center><input type="text" name="uInput" placeholder="Enter a command." size="55" class="no">
        	</center>
                <input type = "submit" value="submit" class="yes">
    	</form>
	<body>
</html>