<!DOCTYPE html>
<html>
	<head>
    	    <link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>

	<body>
    	<div id= "title">
    	    <center><h2><b>Darkness of Word</b></h2></center>
    	</div>
    
    	<div id= "sidebar">
        	<a href= "/">Home</a>
        	<a href= "/SKnight/">{{TXT}}</a>
    	</div>
    
    	<div id = "output">
    		<center><h2>Shovel Knight</h2></center>
    		<center><img src="https://s3.amazonaws.com/ksr/assets/001/552/915/9cd17d4889c2d45b4ca593b974d17acc_large.png?1390427008" height='300px' width='350px'> </center>
    		<h4><b>Description:</b></h4>
    		<p>A knight who likes shoveling.</p><br>
    		<h4><b>Interests/Hobbies:</b></h4>
    		<p>Shoveling.</p><br>
    		<h4><b>Dislikes:</b></h4>
    		<p>Sloths</p><br>
    	</div>
    
	<body>
</html>