<!DOCTYPE html>
<html>
	<head>
    	    <link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>

	<body>
    	<div id= "title">
    	    <center><h2><b>Darkness of Word</b></h2></center>
    	</div>
    
    	<div id= "sidebar">
        	<a href= "/">Home</a>
        	<a href= "/SKnight/">{{TXT}}</a>
    	</div>
    
    	<div id = "output">
    		<h3>Welcome to Darkness of Word! Begin your adventure below.</h3>
    		<a href= "/basement/">Begin</a>
    		<h3>Use help a lot. sometimes, just input nouns.</h3>
    		<h4>this was made by Jon Lu and Matthew Ming.</h4>
    	</div>
    
	<body>
</html>